.segment {
  min-width: 100px;
  .title {
    padding: 14px;
    background-color: rgb(255, 125, 125);
    .titleText {
      font-weight: bolder;
    }
  }
  .content {
    background-color: rgb(88, 233, 88);
  }
  .actionsWrapper {
    background-color: rgb(252, 255, 85);
    .actionItem {
    }
  }
  .container {
    padding: 13px;
  }
}
